
li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding-right: 300px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.logo{
    justify-self: flex-start;
    flex: 1;
    font-size: x-large;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #ff177a;
}

a:active {
    text-decoration: none;
}

body {
    background-image: url("/Resources/images/background/background.png");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}



h1 {
    color: white;
    font-size: 50px;

}

button {
    cursor: pointer;
    color: white;
    border: 1px solid #ff177a;
    background-color: transparent;
    height: 50px;
    width: 200px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: #ff177a;
}

.flex-grid{
    display: flex;
}

.page-title{
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
}

.col-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.col-about-title{
    display: flex;
    justify-content: center;
}

.col-about{
    display: flex;
    color: white;
    font-size: larger;
    justify-content: center;
}

.col-about p{
    width: 50%;
    border: 5px solid #ff177a;
    padding: 30px;

}

@media only screen and (max-width: 1000px) {

    header{
        flex: 1;
        justify-content: center;
    }

    nav{
        width: 100%;
        justify-self: center;
    }
}

@media only screen and (max-width: 600px) {
    
    h1{
        font-size: xx-large;
    }
    
    header {
        flex-direction: column;
    }

    nav{
        padding-left: 200px;
        width: fit-content;
    }

    .logo{
        display: flex;
    }

    nav {
        width: 100%;
        justify-self: center;
    }

}

