.navBar-class {
    display: flex;
}


li {
    margin-left: 250px;
    float: left;
    list-style: none;
    text-transform: uppercase;
    font-size: large;
}

.logo {
    padding-top: 0px;
    color: white;
    font-size: x-large;
    text-align: center;
    margin-left: 200px;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #ff177a;
}

a:active {
    text-decoration: none;
}

body {
    background-image: url("/Resources/images/background/background.png");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}

.hero-Class {
    margin-left: 200px;
    padding-top: 100px;
}

h1 {
    color: white;
    font-size: 50px;

}

p {
    color: white;
    font-size: 20px;
}

button {
    cursor: pointer;
    color: white;
    border: 1px solid #ff177a;
    background-color: transparent;
    height: 50px;
    width: 200px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: #ff177a;
}

.flex-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col img{
    border: 5px solid #ff177a;
    margin: 20px;
    
}

.col img:hover{
       border: 5px solid #ff177a;
       cursor: pointer;
}

.col h1{
    text-align: center;
}


